<!-- <div *ngFor="let card of allWords | async">
  <p>Имя пользователя: {{ card.word }}</p>
  <p>Возраст пользователя: {{ card.wordTranslate }}</p>
</div> -->

<div class="wrap-game-list">
  <h2>Своя игра</h2>
  <div class="game-list" *ngFor="let card of wordList | async">
    <app-card-game-item [card]="card" class="wrap"></app-card-game-item>
  </div>
</div>
<!-- <div class="game-title">
  <h3>{{ card.word }}</h3>
</div>
<div class="game-subtitle">
  <h3>{{ card.wordTranslate }}</h3>
</div> -->
