:host {
  height: 100vh;
  padding-left: 50px;
  background: url('/assets/img/home/fon-home.jpg') no-repeat top right;
  background-size: 40%;
  display: flex;
  flex-direction: column;
  font-family: 'Poiret One', cursive;

  h3 {
    padding-top: 20px;
    width: 50%;
    font-size: 60px;
    color: #262e5b;
  }

  p {
    width: 50%;
    font-size: 40px;
  }
}
