<div class="card-game">
  <h2 class="card-game__title">Своя игра</h2>

  <div *ngIf="currentState === state.STOP; else: conditionsGame">
    <ul class="conditions-game">
      <li>выберите уровень сложности <span class="material-icons">star_border</span></li>
      <li>ознакомьтесь с набором карточек - на обратной стороне доступен перевод слова</li>
      <li>нажмите играть - вы будете видеть только картинки</li>
      <li>в наборе карточек нужно найти ту, которая соответствует озвученному слову</li>
      <li>игра продолжается, пока вы не соберете все карточки</li>
      <li>если вы ошиблись на слове более двух раз, то оно попадает в список сложных для вас слов</li>
    </ul>
  </div>
  <ng-template #conditionsGame>
  <h4 class="card-game__score">Осталось карточек: {{ leftCards }}</h4>
  </ng-template>

  <div class="card-game-buttons">
    <div class="card-game__button" *ngIf="currentState === state.HOLD">
      <button class="btn-template" (click)="initializeValuesForGame()">выйти из игры</button>
    </div>
    <div class="card-game__button" *ngIf="currentState === state.STOP">
      <button class="btn-template btn-template-game" (click)="startGame()">играть</button>
    </div>
    <div class="card-game__button" *ngIf="currentState === state.STOP">
      <button class="btn-template" (click)="mixCards()">перемешать</button>
    </div>
    <div class="card-game__button" *ngIf="currentState === state.HOLD">
      <button class="btn-template btn-template-game" (click)="repeatWord()">повторить</button>
    </div>
  </div>
  <div class="card-game__levels">
    <div
      class="card-game__button"
      *ngFor="let btn of getGeneratedArray(totalCategories); let i = index"
    >
      <button class="btn-template btn-template-game" (click)="changeLevel(i)">
        <span *ngFor="let star of getGeneratedArray(i + 1)" class="material-icons">
          star_border
        </span>
      </button>
    </div>
  </div>
  <div class="card-game__wrap" *ngIf="!isLoading; else: loadingBlock">
    <div class="card-game__content" *ngFor="let card of words">
        <app-card-game-item
          [card]="card"
          [isHiddenDataChild]="isHiddenDataChild"
          [isHiddenChildCard]="isHiddenChildCard"
          [class.play]="currentState === state.HOLD"
          (checkCard)="checkCard($event)"
        ></app-card-game-item>
    </div>
  </div>
  <app-card-game-exit-modal
    *ngIf="currentState === state.RESULT"
    [hardWords]="hardWords"
    (closeModal)="initializeValuesForGame()"
  >
  </app-card-game-exit-modal>
</div>
<ng-template #loadingBlock>
    <mat-spinner class="spinner"></mat-spinner>
</ng-template>
