.card-game {
  padding: 50px;
  font-family: 'Poiret One', cursive;
  font-size: 26px;
}

.card-game-buttons {
  display: flex;

  .card-game__button {
    margin-right: 10px;
  }
}

.card-game__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-game__title {
  text-align: center;
  font-size: 30px;
  color: #333470;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.card-game__levels {
  width: 900px;
  display: flex;
  justify-content: space-between;
}
