<div class="card-game">
  <h2 class="card-game__title">Своя игра</h2>
  <h4 class="card-game__score">Осталось карточек: {{ leftCards }}</h4>
  <div class="card-game-buttons">
    <div class="card-game__button">
      <button class="btn-template" (click)="repeatGame()">начать заново</button>
    </div>
    <div class="card-game__button">
      <button class="btn-template" (click)="mixCards()">перемешать</button>
    </div>
    <div class="card-game__button">
      <button
        class="btn-template"
        [isSaved]="isSaved"
        (click)="openExitModalWindow()"
        *ngIf="currentState === state.HOLD"
      >
        прервать игру
      </button>
    </div>
    <div class="card-game__button" *ngIf="currentState === state.STOP">
      <button class="btn-template" (click)="startGame()">играть</button>
    </div>
    <div class="card-game__button" *ngIf="currentState === state.HOLD">
      <button class="btn-template" (click)="repeatWord()">повторить</button>
    </div>
  </div>
  <div class="card-game__levels">
    <div
      class="card-game__button"
      *ngFor="let btn of getGeneratedArray(totalCategories); let i = index"
    >
      <button class="btn-template" (click)="changeLevel(i)">
        <span *ngFor="let star of getGeneratedArray(i + 1)" class="material-icons">
          star_border
        </span>
      </button>
    </div>
  </div>
  <div class="card-game__wrap">
    <div class="card-game__content" *ngFor="let card of words">
      <app-card-game-item
        [card]="card"
        [isHiddenDataChild]="isHiddenDataChild"
        [class.play]="currentState === state.HOLD"
        (click)="checkCard(card)"
      ></app-card-game-item>
    </div>
  </div>
  <app-card-game-exit-modal
    *ngIf="currentState === state.RESULT"
    [hardWords]="hardWords"
    (closeModal)="closeModal()"
  >
  </app-card-game-exit-modal>
</div>
