<form *ngIf="isLoginCompleted; else loadingBlock" (ngSubmit)="onLogin()" class="form" [formGroup]="loginForm">
  <mat-form-field appearance="standard">
    <mat-label>Почта</mat-label>
    <input
      matInput
      placeholder="email@example.com"
      [formControl]="loginForm.controls[formControlName.Email]"
    />
    <ng-container *ngIf="isShowErrors(this.formControlName.Email)">
      <mat-error *ngIf="loginForm.controls[formControlName.Email].errors.required">
        Обязательно для заполнения
      </mat-error>
      <mat-error *ngIf="loginForm.controls[formControlName.Email].errors.email">
        Некорректная почта
      </mat-error>
    </ng-container>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Пароль</mat-label>
    <input
      matInput
      [type]="isHidePassword ? 'password' : 'text'"
      [formControl]="loginForm.controls[formControlName.Password]"
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="isHidePassword = !isHidePassword"
      title="{{ isHidePassword ? 'Показать пароль' : 'Скрыть пароль' }}"
      [attr.aria-pressed]="isHidePassword"
    >
      <mat-icon>{{ isHidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <ng-container *ngIf="isShowErrors(this.formControlName.Password)">
      <mat-error *ngIf="loginForm.controls[formControlName.Password].errors.required">
        Обязательно для заполнения
      </mat-error>
      <mat-error *ngIf="loginForm.controls[formControlName.Password].errors.maxlength">
        Максимум
        {{ loginForm.controls[formControlName.Password].errors.maxlength.requiredLength }} символов
      </mat-error>
      <mat-error *ngIf="loginForm.controls[formControlName.Password].errors.minlength">
        Минимум
        {{ loginForm.controls[formControlName.Password].errors.minlength.requiredLength }} символов
      </mat-error>
    </ng-container>
  </mat-form-field>
  <button mat-flat-button color="primary" type="submit">Войти</button>
</form>
<ng-template #loadingBlock>
  <mat-spinner class="spinner"></mat-spinner>
</ng-template>
