@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.wrap-game-list {
  padding: 50px;
  font-family: 'Poiret One', cursive;
  font-size: 26px;

  h2 {
    text-align: center;
    font-size: 30px;
    color: #333470;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
