<div class="data-day" *ngIf="data?.length; else emptyData">
  <div class="data-words">
    <p>Количество изученных слов (за сегодня)</p>
    <p>Общее количество изученных слов (за весь период)</p>
  </div>

  <div class="data-games">
  </div>

  <div class="data-correct">
  </div>
</div>

<ng-template #emptyData>
  <div class="empty-data">
    <p>К сожалению, у вас нет данных по статистике</p>
    <p>Чтобы видеть свой прогресс вы можете:</p>
    <ul>
      <li>
        <a (click)="redirectToLink('text-book/group/1/page/2')">По учебнику выучить слова</a>
         - вы будете видеть, сколько слов вы выучили за сегодня и диаграмму по дням за весь период обучения
       </li>
      <li>
        <a (click)="redirectToLink('games')">Выбрать и поиграть в любую игру</a>
         - результаты правильных и неправильных ответов будут доступны за один текущий день
       </li>
    </ul>
  </div>
</ng-template>
