<div class="card">
    <div class="card-info">
        <!-- TODO: лоадер для картинки -->
        <img [src]="card.image | cardAsset | async" alt="{{card.word}}" class="card-image">
        <button class="play-btn" (click)="playAudio()">
          <img src="../../../../assets/icons/volume.svg" alt="Воспроизвести">
        </button>
        <div class="content">
            <p class="word">{{card.word}}</p>
            <p class="translate">{{card.wordTranslate}}</p>
        </div>
        <audio #audio [src]="card.audio | cardAsset | async"></audio>
    </div>
    <div class="repeats">
      <p>Правильных ответов {{card.userWord.optional.gamesStats.rightAnswers || 0}}</p>
      <p>Неправильных ответов {{card.userWord.optional.gamesStats.wrongAnswers || 0}}</p>
    </div>
    <div class="buttons">
      <button
        *ngFor="let category of categories"
        class="btn"
        (click)="moveCard(category)"
        [hidden]="currentCategory === category"
      >В {{category.toString()}}</button>
  </div>
</div>
