<div class="card" routerLink="card/{{ card.id }}" *ngIf="card">
  <div class="image-container" [style.background]="'#' + color" *ngIf="card">
    <img
      #image
      [src]="card.image | cardAsset | async"
      alt="{{ card.word }}"
      (load)="showImage($event)"
      style="display: none"
    />
  </div>
  <div class="content">
    <p class="word">{{ card.word }}</p>
    <p *ngIf="!settings.isWordTranslationHidden" class="translation">{{ card.wordTranslate }}</p>
  </div>
  <div class="buttons">
    <button
      *ngIf="!settings.isHardWordsBtnHidden"
      class="btn-template btn-icon"
      (click)="moveCard(category.Hard)"
    >
      <span class="material-icons"> star_border </span>
    </button>
    <button
      *ngIf="!settings.isDeletedWordsBtnHidden"
      class="btn-template btn-icon"
      (click)="moveCard(category.Deleted)"
    >
      <span class="material-icons"> delete_outline </span>
    </button>
  </div>
</div>
