<div
  class="card"
  routerLink="card/{{ card.id }}"
  *ngIf="card"
  [class.hard]="card.status === hardCategory">
    <div class="image-container" [style.background]="'#' + color">
        <img #image [src]="card.image | cardAsset | async"
          alt="{{ card.word }}"
          (load)="showImage($event)"
          style="display: none;" />
    </div>
    <div class="content">
        <p class="word">{{ card.word }}</p>
        <p *ngIf="!settings.isWordTranslationHidden" class="translation">{{ card.wordTranslate }}</p>
    </div>
</div>
