.own-modal-result {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);

  ul {
    list-style-type: none;
    padding: 20px 0 20px 20px;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 33.3%;
      padding: 10px 0;
      text-align: center;
      font-size: 20px;
    }
  }

  .list-hard-title {
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  .modal {
    width: 60%;
    padding: 50px 0;
    border-radius: 20px;
    background-color: #333470;
    position: relative;
    box-shadow: 4px 4px 4px #000;
    color: #fff;

    .close {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 30px;
      cursor: pointer;

      &:hover {
        color: orange;
      }
    }

    .end-game-text {
      text-align: center;
    }
  }
}
