<div class="card-game">
  <h2 class="card-game__title">Своя игра</h2>
  <h4 class="card-game__score">Осталось карточек: {{ leftCards }}</h4>
  <div class="card-game-buttons">
    <div class="card-game__button">
      <button (click)="repeatGame()">начать заново</button>
    </div>
    <div class="card-game__button">
      <button (click)="openDialog()" *ngIf="!isPlay">прервать игру</button>
    </div>
    <div class="card-game__button" *ngIf="isPlay">
      <button (click)="startGame()">играть</button>
    </div>
    <div class="card-game__button" *ngIf="!isPlay">
      <button (click)="repeatWord()">повторить</button>
    </div>
    <!-- <div class="card-game__button">
      <button (click)="exitCheck()">сохранить</button>
    </div> -->
  </div>
  <div class="card-game__levels">
    <div class="card-game__button">
      <button (click)="changeLevel('0')"><span class="material-icons"> star_border </span></button>
    </div>
    <div class="card-game__button">
      <button (click)="changeLevel('1')">
        <span class="material-icons"> star_border </span
        ><span class="material-icons"> star_border </span>
      </button>
    </div>
    <div class="card-game__button">
      <button (click)="changeLevel('2')">
        <span class="material-icons"> star_border </span
        ><span class="material-icons"> star_border </span
        ><span class="material-icons"> star_border </span>
      </button>
    </div>
    <div class="card-game__button">
      <button (click)="changeLevel('3')">
        <span class="material-icons"> star_border </span
        ><span class="material-icons"> star_border </span
        ><span class="material-icons"> star_border </span
        ><span class="material-icons"> star_border </span>
      </button>
    </div>
    <div class="card-game__button">
      <button (click)="changeLevel('4')">
        <span class="material-icons"> star_border </span
        ><span class="material-icons"> star_border </span
        ><span class="material-icons"> star_border </span
        ><span class="material-icons"> star_border </span
        ><span class="material-icons"> star_border </span>
      </button>
    </div>
    <div class="card-game__button">
      <button (click)="changeLevel('5')">
        <span class="material-icons"> star_border </span
        ><span class="material-icons"> star_border </span
        ><span class="material-icons"> star_border </span
        ><span class="material-icons"> star_border </span
        ><span class="material-icons"> star_border </span
        ><span class="material-icons"> star_border </span>
      </button>
    </div>
  </div>
  <div class="card-game__wrap">
    <div class="card-game__content" *ngFor="let card of words">
      <app-card-game-item
        [card]="card"
        [ngClass]="{ play: isStartPlay }"
        (click)="checkCard(card)"
      ></app-card-game-item>
    </div>
  </div>

  <div class="own-modal-result" *ngIf="isEndGame">
    <div class="modal">
      <span class="material-icons close" (click)="closeModal()">close</span>
      <p class="end-game-text">игра окончена</p>
      <div *ngIf="hardWords.length !== 0">
        <p class="list-hard-title">Слова, которые вам нужно повторить</p>
        <ul class="list-hard">
          <li *ngFor="let hardWord of hardWords">{{ hardWord.word }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
