.card-game {
  padding: 50px;
  font-family: 'Poiret One', cursive;
  font-size: 26px;

  .card-game__title {
    text-align: center;
    font-size: 30px;
    color: #333470;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .card-game__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
