.card-game {
  padding: 50px;
  font-family: 'Poiret One', cursive;
  font-size: 26px;

  .card-game__title {
    text-align: center;
    font-size: 30px;
    color: #333470;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .card-game__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  button {
    display: block;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #333470;
    border: none;
    border: 1px solid #333470;
    border-radius: 10px;
    font-family: 'Poiret One', cursive;
    font-size: 24px;
    color: #fff;
    letter-spacing: 2px;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: #333470;
    }

    &:focus {
      outline: none;
    }
  }
}
