<div class="page-container">
    <button class="arrow-btn left" (click)="navigate(pageId - 1)" [disabled]="pageId === paginationOptions.firstPageIndex">
        <img src="../../../../assets/icons/right-arrow.svg" alt="Предыдущая страница" />
    </button>
    <div class="cards-container">
        <app-text-book-card *ngFor="let card of cards | async" [card]="card" [color]="color"></app-text-book-card>
    </div>
    <button class="arrow-btn right" (click)="navigate(pageId + 1)" [disabled]='pageId === paginationOptions.lastPageIndex'>
        <img src="../../../../assets/icons/right-arrow.svg" alt="Следующая страница" />
    </button>
</div>

<app-pagination [pageId]="pageId" [options]="paginationOptions" (navigate)="navigate($event)"></app-pagination>
<router-outlet></router-outlet>