.page-container {
    padding-left: 90px;
    padding-right: 90px;
    .arrow-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
    }
    .left {
        position: fixed;
        left: 10px;
        bottom: 35%;
    }
    .right {
        position: fixed;
        right: 10px;
        bottom: 35%;
    }
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.spiner {
    margin: 50px auto;
}

.game-list {
  display: flex;
  justify-content: space-evenly;
}
