<div class="logo">
    <h1>
        <span class="prefix-logo">RS</span>
        <span class="logo-body">Lang</span>
    </h1>
</div>
<nav>
  <ul class="main-menu">
      <li class="main-menu__item">
          <a routerLink="">Главная</a>
      </li>
      <li class="main-menu__item">
          <a routerLink="dictionary" routerLinkActive="active">Словарь</a>
      </li>
      <li class="main-menu__item">
          <a [routerLink]="textBookLink" routerLinkActive="active">Учебник</a>
      </li>
      <li class="main-menu__item">
          <a routerLink="games" routerLinkActive="active">Игры</a>
      </li>
      <li class="main-menu__item">
          <a routerLink="settings" routerLinkActive="active">Настройки</a>
      </li>
      <li class="main-menu__item">
          <a routerLink="statistics" routerLinkActive="active">Статистика</a>
      </li>
      <li *ngIf="!this.authService.isLoggedIn(); else logout" class="main-menu__item">
          <a routerLink="{{authPath.Auth}}" routerLinkActive="active">
              <span class="material-icons btn-icon">login</span>
          </a>
      </li>
      <ng-template #logout>
          <li class="main-menu__item">
              <a (click)="onLogout()" routerLink="{{authPath.Auth}}" routerLinkActive="active">
                <span class="material-icons btn-icon">logout</span>
              </a>
          </li>
      </ng-template>
  </ul>
</nav>
