:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #262E5B;

  .logo {
    width: 30%;

    h1 {
      display: flex;
      align-items: center;
      padding-left: 50px;
      font-family: 'Poiret One', cursive;
      color: #FFF;

      .prefix-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border: 1px solid #FFF;
        color: #FE8931;
      }

      .logo-body {
        padding-left: 10px;
        letter-spacing: 5px;
      }
    }
  }

  nav {
    width: 70%;
    display: flex;
    justify-content: flex-end;
  }
}

.main-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-right: 50px;

  &__item {
    padding: 0 10px;

    a {
      display: block;
      font-family: 'Poiret One', cursive;
      font-size: 24px;
      color: #FFF;
      transition: color .2s;

      &:hover {
        color: #FE8931;
      }

      &.active {
        color: #Fe8931;
      }
    }
  }
}
