<nav>
    <ul class="main-menu">
        <li class="main-menu__item"><a routerLink="">Главная</a></li>
        <li class="main-menu__item"><a routerLink="dictionary">Словарь</a></li>
        <li class="main-menu-item"><a routerLink="text-book/group/1/page/2">Учебник</a></li>
        <li class="main-menu__item"><a routerLink="games">Игры</a></li>
        <li class="main-menu__item"><a routerLink="statistics">Статистика</a></li>
        <li class="main-menu__item"><a routerLink="login">Логин</a></li>
    </ul>
</nav>
