:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #262E5B;

  .btn-icon {
    font-size: 30px;
  }

  nav {
    width: 70%;
    display: flex;
    justify-content: flex-end;
  }
}

.main-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-right: 50px;

  &__item {
    padding: 0 10px;

    a {
      display: block;
      font-family: 'Poiret One', cursive;
      font-size: 24px;
      color: #FFF;
      transition: color .2s;

      &:hover {
        color: #FE8931;
      }

      &.active {
        color: #Fe8931;
      }
    }
  }
}
