@import '../../../../variables.scss';
.dictionary-page {
    background-color: $color_light_gray;
    .categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        padding: 20px;
        .category {
            padding-bottom: 20px;
            text-align: center;
            transition: border-color 0.3s;
            font-family: 'Poiret One', cursive;
            font-weight: bold;
            font-size: 28px;
            background: none;
            border-bottom: 4px solid $color_dark_gray;
            border-top: none;
            border-left: none;
            border-right: none;
            &:hover {
                cursor: pointer;
            }
            &.active {
                border-color: $color_dark_blue;
            }
        }
    }
    .paginator {
        background-color: $color_light_gray;
        font-size: 20px;
    }
    .page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 30px;
    }
    .spinner {
        margin: 50px auto;
    }
}
