<p class="title">Выберите категорию по уровню сложности и приступайте к обучению</p>
<p class="description">
  При клике на карточку будет доступно <span class="color-strong">больше данных</span> по слову для
  изучения. Также вы сможете отметить, какие слова являются для вас
  <span class="color-strong">сложными</span>, а каким-то сможете задать
  <span class="color-strong">статус удаленных</span>, чтобы они не задействовались в программе
  обучения
</p>
<!-- <span class="material-icons">
  <a routerLink="settings" routerLinkActive="active">Настройки</a></span
> -->
<app-text-book-settings></app-text-book-settings>
<app-text-book-group></app-text-book-group>
