.text-book {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  &__container {

    .title {
      padding: 20px 0 10px 0;
      font-family: 'Poiret One', cursive;
      font-weight: bold;
      font-size: 20px;
      color: #333470;
      letter-spacing: 3px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
