<div class="card-game__card card-animation" [class.disabled]="isHiddenChildCard">
  <div class="base-animation" [class.rotated]="isRotated">
    <div class="card__description card__front" (click)="getDisable(card)">
      <div class="card__image">
        <img src="{{ cardImgSrc }}" alt="{{ card.word }}" />
      </div>
      <div *ngIf="!isHiddenDataChild">
        <div class="card__title">
          <h3>{{ card.word }}</h3>
        </div>
        <div class="card__button">
          <button class="btn-template" (click)="playAudio()">
            озвучить
            <audio #audio>
              <source src="{{ cardAudioSrc }}" type="audio/mp3" />
            </audio>
          </button>
          <button class="btn-template bt-icons" (click)="rotateCard()">
            <span class="material-icons">autorenew</span>
          </button>
        </div>
      </div>
    </div>
    <div class="card__back">
      <p>{{ card.wordTranslate }}</p>
    </div>
  </div>
</div>
