<h2>Аудиовызов</h2>

<div [ngSwitch]="gameStatus" class="game">
  <app-audio-call-start *ngSwitchCase="'start'" (startNewGame)="gameStart($event)">
  </app-audio-call-start>
  <app-audio-call-game
    *ngSwitchCase="'game'"
    [level]="level"
    [task]="singleTask"
    (newTask)="onCreateNewTask()"
    (endGame)="onEndGame($event)"
  >
  </app-audio-call-game>
  <app-audio-call-end
    *ngSwitchCase="'end'"
    [totalScores]="totalScores"
    (beginNewGame)="onNewGameBegin()"
  ></app-audio-call-end>
</div>
