ul {
  list-style-type: none;
  padding: 50px;
}

.menu-statistics {
  display: flex;


  li {
    width: 50%;
    border-bottom: 3px solid #6EB7BE;
    text-align: center;
  }

  .active {
    border-bottom-color: #8F6CEF;
  }

  a {
    text-transform: uppercase;
    font-weight: bold;
    color: #262E5B;
    letter-spacing: 2px;
    cursor: pointer;
    transition: letter-spacing .3s;

    &:hover {
      letter-spacing: 4px;
    }
  }
}
