<div class="wrap-game-list">
    <div *ngIf="!isStarted && !isGameOver" class="start-game-menu">
        <div class="game-title-wrapper">
            <h2 class="game-title">Саванна</h2>
        </div>
        <div class="game-rules-wrapper">
            <div class="game-rules">
                Правила игры:<br>
                - Необходимо определить правильный перевод слова<br>
                - Выбор правильного варианта необходимо делать кликом левой кнопки мыши<br>
                - Игра начинается с выбранного раздела словa<br>
                - Для начала игры нажмите на кнопку "Старт"
            </div>
        </div>
        <div class="start-button-wrapper">
            <button mat-raised-button color="primary" class="start-button" (click)="start()" *ngIf="!isStarted">Старт</button>
        </div>
    </div>
    <div class="background"></div>
    <div *ngIf="isGameOver" class="game-over">
        <title class="game-over-title">Конец Игры</title>
        <ul class="words-tab-learned">
            *Learned*
            <li *ngFor="let learnedWord of learnedWords" class="learned-words">
                <a>{{learnedWord.word}}</a>
            </li>
        </ul>
        <ul class="words-tab-unlearned">
            *Unlearned*
            <li *ngFor="let unlearnedWord of unlearnedWords" class="unlearned-words">
                <a>{{unlearnedWord.word}}</a>
            </li>
        </ul>
    </div>
    <ng-container *ngIf="isStarted && health && !isGameOver">
        <div class="level">Уровень:&nbsp;{{level}}</div>
        <div class="health">{{health}}</div>
        <div class="running-field">
            <div class="word-wrapper" [ngStyle]="{'top': coordinateY + 'px', 'left': coordinateX + 'px'}">
                <div class="animal"></div>
                <div class="word">{{targetWord.word}}</div>
            </div>
        </div>
    </ng-container>
    <button mat-raised-button color="primary" (click)="start()" *ngIf="isGameOver">Перезапуск</button>
    <div class="game-list">
        <div *ngIf="isStarted && !isGameOver" class="buttons-wrapper">
            <button mat-raised-button color="primary" class="answer-word" (click)="compareWords($event)"
            *ngFor="let answer of answerWordsArray">{{answer.word}}</button>
        </div>
    </div>
</div>