:host {
  display: flex;
  width: 100%;
  height: 85vh;
  flex-direction: column;
}

.wrap-game-list {
    position: relative;
    font-family: 'Poiret One', cursive;
    font-size: 26px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .start-game-menu {
      height: 100%;
      width: calc(100% - 20px);
      padding-left: 20px;

      .game-title-wrapper {
        width: 46%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;

        .game-title {
          color: #333470;
          letter-spacing: 5px;
          text-transform: uppercase;
          margin: 0;
          font-size: 40px;
          font-weight: 800;
        }
      }

      .game-rules-wrapper {
        height: 50%;
        width: 46%;
        color: #32339e;
        font-weight: 600;
        font-size: 22px;
        padding-top: 10px;
        white-space: pre-line;
      }

      .main-menu-buttons {
        position: relative;
        height: 45%;

        .level-buttons-wrapper {
          position: absolute;
          left: 10px;
          z-index: 2;
          color: white;
          top: calc(50% - 35px);

          .level-buttons-title {
            text-align: center;
            height: 30px;
          }

          .level-button {
            margin: 0 2px;
            padding: 0;
            min-width: 40px;
            min-height: 40px;
            font-size: 20px;
          }
        }

        .start-button {
          width: 170px;
          height: 50px;
          font-size: 25px;
          position: absolute;
          left: calc(50% - 75px);
          top: calc(50% - 10px);
        }

        .language-slider-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #3f51b5;
          border-radius: 20px;
          width: 150px;
          height: 40px;
          margin: 8px 0;
          position: absolute;
          left: calc(80% - 45px);
          z-index: 2;
          color: white;
          top: calc(50% - 14px);
          font-family: auto;
          font-size: 26px;
          font-weight: 400;
        }
      }
    }

    .game-over {
      position: absolute;
      display: flex;
      flex-direction: column;
      min-width: 350px;
      max-width: 400px;
      max-height: 400px;
      background-color: #262e5beb;
      border-radius: 20px;
      border: 2px solid #06a08ad4;
      color: white;
      z-index: 2;
      margin: 20px;
      left: calc(50% - 177px);
      align-items: center;

      .game-over-title {
        padding: 10px;
      }

      .learned-unlearnder-words-wrapper {
        display: flex;
        overflow: auto;

        .words-tab-learned, .words-tab-unlearned {
          display: flex;
          flex-direction: column;
          overflow-x: hidden;
          overflow-y: auto;
          margin: 0;
  
          .learned-words {
            display: flex;
            flex-direction: column;
            width: 50%;
          }
  
          .unlearned-words {
            display: flex;
            flex-direction: column;
            width: 50%;
          }
        }
  
        .words-tab-learned {
          padding: 10px 10px 10px 40px;
        }
  
        .words-tab-unlearned {
          padding: 10px 40px 10px 10px;
        }
      }

      .score {
        align-items: center;
        padding: 10px;
      }
    }

    .background {
      position: absolute;
      background-image: url('/assets/img/games/savannah/savannah.svg');
      background-repeat: no-repeat;
      background-size: cover;
      height: calc(100% + 4px);
      width: calc(100% + 20px);
      align-self: center;
      z-index: 0;
      margin-left: -20px;
    }

    .health-wrapper {
      position: absolute;
      align-self: flex-start;
      margin: 10px 0;
      display: flex;

      .health {
        position: absolute;
        width: 200px;
        height: 40px;
        background-image: url('/assets/img/games/savannah/owl.svg');
        background-repeat: repeat-x;
        transition: transform 0.3s;
        transform-origin: center center;
        z-index: 3;
        cursor: pointer;
      }

      .health:hover {
        top: -6px;
      }

      .branch {
        top: -10px;
        position: absolute;
        width: 300px;
        height: 100px;
        background-image: url(/assets/img/games/savannah/branch-end.svg);
        background-repeat: no-repeat;
        transition: transform 0.3s;
        transform-origin: center center;
        transform: rotate(-5deg);
        z-index: 2;
      }
    }

    .running-field {
      width: 100%;
      height: 480px;
      position: relative;
      overflow: hidden;
      z-index: 2;

      .word-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 200px;
        height: 220px;

        .animal {
          margin-bottom: 10px;
          width: 140px;
          height: 150px;
          background-image: url('/assets/img/games/savannah/giraffe.svg');
          background-repeat: no-repeat;
        }

        .word {
          padding: 5px;
          color: white;
          border: 3px solid white;
          border-radius: 5px;
          text-align: center;
          font-size: 45px;
          height: 55px;
          font-weight: 800;
        }
      }
    }
  
    .game-list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-self: center;
      z-index: 1;
      height: 100px;

      .buttons-wrapper {
        display: flex;
        flex-direction: row;

        .answer-word {
          margin: 10px;
          min-width: 150px;
          height: 50px;
          font-size: 24px;
        }
      }
    }

    @media screen and (min-width: 1070px) {
      .background {
        width: calc(100% + 40px);
      }

      .start-game-menu {

        .game-title-wrapper {
          width: 40%;
        }

        .game-rules-wrapper {
          width: 40%;
          height: 60%;
        }
      }

      .running-field {
        height: 600px;
      }
    }
  }
  
  button {
    z-index: 1;
    cursor: pointer;
  }

