<div class="bonus-score-images" [ngClass]="{'center': bonusScoreLvl > 2}">
  <div class="bonus-score-image" [ngClass]="{'green-bacground': bonusScoreCounter > 0}">
    <span class="material-icons" *ngIf="bonusScoreCounter > 0">
      done
    </span>
  </div>
  <div class="bonus-score-image" [ngClass]="{'green-bacground': bonusScoreCounter > 1}" *ngIf="bonusScoreLvl < 3">
    <span class="material-icons" *ngIf="bonusScoreCounter > 1">
      done
    </span>
  </div>
  <div class="bonus-score-image" [ngClass]="{'green-bacground': bonusScoreCounter > 2}" *ngIf="bonusScoreLvl < 3">
    <span class="material-icons" *ngIf="bonusScoreCounter > 2">
      done
    </span>
  </div>
</div>
<p>{{bonusScoreLvlText}}</p>
