.container {
  width: 100%;
  height: calc(100vh - 309px);
  display:flex;
  background-size: cover ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 40%;
  border: 2px solid;
  border-radius: 5px;
  text-align: -webkit-center;
}
