<div class="container">
  <!-- TODO: add settings component -->
  <!-- TODO: add loading component -->
  <div>
    <span>Score: {{score}}</span>
  </div>
  <mat-card class="card">
    <!-- TODO: add score component -->
    <span>{{currentWord.word}}</span>
    <span>{{currentWord.randomTranslate}}</span>
    <div class="answer-buttons">
      <button (click)="checkAnswer(false)"> Неверно </button>
      <button (click)="checkAnswer(true)"> Верно </button>
    </div>
    <div class="progress-bar-block">
      <mat-progress-bar
        mode="determinate"
        [value]="progressbarValue">
      </mat-progress-bar>
      <div style="position: absolute; padding: 10px; color: white;">{{curSecond}} sec</div>
    </div>
  </mat-card>
  <div class="answer-buttons">
    <button (click)="setPlayStatus()">Начать заново</button>
    <button (click)="setEndStatus()">Выйти</button>
  </div>
  <!-- TODO: add end component -->
</div>

