<div class="container">
  <!-- TODO: add settings component -->
  <!-- TODO: add loading component -->
  <div>
    <span>Score: {{score}}</span>
  </div>
  <mat-card class="card">
    <!-- TODO: add score component -->
    <span>{{currentWord.word}}</span>
    <span>{{currentWord.randomTranslate}}</span>
    <div class="answer-buttons">
      <button (click)="checkAnswer(false)"> Неверно </button>
      <button (click)="checkAnswer(true)"> Верно </button>
    </div>
  </mat-card>
  <!-- TODO: add mat progress bar -->
  <button (click)="setPlayStatus()">Начать заново</button>
  <!-- TODO: add end component -->
</div>

