<div class="card-game__card">
  <div class="card__description">
    <div class="image">
      <div class="card__image">
        <img src="{{ baseCardURL + card.image }}" alt="{{ card.word }}" />
      </div>
    </div>
    <div class="card__title">
      <h3>{{ card.word }}</h3>
    </div>
    <div class="card__button">
      <button (click)="playAudio()">
        озвучить
        <audio #audio>
          <source src="{{ baseCardURL + card.audio }}" type="audio/mp3" />
        </audio>
      </button>
    </div>
  </div>
</div>
