// Global const styles
$bg_dark: #262E5B;
$bg_light: #E0E2F6;

$color_link: #FFF;
$color_link_hover: #FE8931;
$color_link_active: #FE8931;

// basic color accents
$color_dark_blue: #262E5B;
$color_violet: #8F6CEF;
$color_orange: #FE8931;

// for button - class="btn-template"

// additional color accents
$color_blue: #3321BF;
$color_dark_red: #A23979;
$color_light_red: #FE8697;
$color_dark_gray: #BEC9D7;
$color_light_gray: #D8DEEA;
$color_green: #2CD77B;
$color_dark_mint: #589DAE;
$color_light_mint: #6EB7BE;
