:host{
  padding: 20px;

  .game-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
    height: 400px;
    border: 1px solid #8f6cef;
    border-radius: 20px;
    position: relative;

    .game-wrap-img {
      width: 260px;
      height: 260px;
      position: absolute;
      top: -5px;
      right: -5px;
      border-radius: 50%;
      border: 3px solid #8f6cef;
    }

    .game-img {
      position: absolute;
      top: -10px;
      right: -10px;
    }

    img {
      max-width: 100%;
      border-radius: 50%;
    }

    .game-title {
      font-size: 24px;
      color: #333470;
      text-transform: uppercase;
    }

    button {
      display: block;
      padding: 10px 20px;
      margin-bottom: 20px;
      background-color: #333470;
      border: none;
      border: 1px solid #333470;
      border-radius: 10px;
      font-family: 'Poiret One', cursive;
      font-size: 24px;
      color: #fff;
      letter-spacing: 2px;
      transition: background-color 0.3s;
      cursor: pointer;

      a {
        text-decoration: none;
        color: #fff;
      }

      &:hover {
        background-color: #fff;
        color: #333470;
      }

      &:focus {
        outline: none;
        background-color: #060137;
      }
    }
  }
}
