<ul>
  <li>
    <div class="img">
      <img src="./assets/img/home/item-1.jpg" alt="rslang">
    </div>
    <p>Учи слова каждый день</p>
  </li>
  <li>
    <div class="img">
      <img src="./assets/img/home/item-2.jpg" alt="rslang">
    </div>
    <p>Играй и узнавай новое</p>
  </li>
  <li>
    <div class="img">
      <img src="./assets/img/home/item-3.jpg" alt="rslang">
    </div>
    <p>Настраивай свой уровень</p>
  </li>
  <li>
    <div class="img">
      <img src="./assets/img/home/item-4.jpg" alt="rslang">
    </div>
    <p>Следи за успехом</p>
  </li>
</ul>
