:host {
  padding: 10px 20px 0 20px;
  font-family: 'Poiret One', cursive;

  p {
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
    font-size: 18px;
    color: #333470;
    letter-spacing: 2px;
    text-transform: uppercase;

    span {
      color: #589DAE;
    }
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
  }
}
